.profile__avatar-fade {
  width: 120px;
  height: 120px;
  background-image: url("../../../images/Pencil.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
