.profile__name-and-edit-container {
  display: grid;
  grid-template-columns: max-content min-content;
  align-items: baseline;
  column-gap: 18px;
}
@media screen and (max-width: 702px) {
  .profile__name-and-edit-container {
    column-gap: 10px;
  }
}
